*.js text eol=lf
*.js text eol=lf
*.ts text eol=lf
*.ts text eol=lf
*.json text eol=lf
*.json text eol=lf
*.html text eol=lf
*.html text eol=lf
*.sh text eol=lf
*.sh text eol=lf
*.txt text eol=lf
*.txt text eol=lf
*.md text eol=lf
*.md text eol=lf
